@import "../../responsive.scss";

.register {
  display: flex;
  align-items: center;
  height: 100%;

  .registerContainer {
    height: 100%;
    flex: 3;

    .wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 50px;

      h1 {
        padding-bottom: 10px;
      }
    }
    form {
      background-color: #f3f3f3;
      padding: 20px;
      width: 70%;
      display: flex;
      gap: 20px;
      flex-direction: column;

      input {
        padding: 12px;
        border: none;
        background-color: transparent;
        border-bottom: 0.5px solid rgb(187, 187, 187);
        outline: none;
        font-size: 15px;
      }

      button {
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        background-color: yellow;
      }
    }
  }
  .imgContent {
    flex: 2;
    background-color: rgb(255, 220, 168);

    @include md {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}
