@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .userDetails {
    flex: 3;
    padding-bottom: 50px;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      height: 100%;
      padding-right: 50px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-weight: 400;
        }

        button {
          padding: 12px 24px;
          cursor: pointer;
          background-color: yellow;
          border: none;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 15px;
          //   line-height: 50px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .logout-btn {
          // width: 20%;
          padding: 10px 28px;
          margin-bottom: 10px;
          background-color: rgb(38, 176, 38);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: black;
          // font-weight: 700;
          font-size: 15px;

          &:hover {
            background-color: rgb(76, 157, 21);
          }
        }
      }
    }
  }

  .chatDetails {
    flex: 2;
    height: 100%;
    background-color: #ffdca8;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
